<!--sidebar-->
<div class="ui sidebar vertical left menu overlay  borderless visible sidemenu inverted  green"
     style="-webkit-transition-duration: 0.1s; transition-duration: 0.1s;" data-color="grey">
  <a class="item logo" >
    <img src="assets/img/logo.png" alt="stagblogo" />
    <img src="assets/img/thumblogo.png" alt="WEBSHOP" class="displaynone" />
    <!--<h1 class="text-success" style="margin: 0 auto">WEBSHOP</h1>-->
  </a>
  <div class="ui accordion inverted" style="font-size: 14px;">

    <div class="title item " style="margin-top: 5%;">
      <i class="ion-ios-lightbulb titleIcon icon"></i>

      <i class="dropdown icon"></i> Usuario Logueado
    </div>
    <div class="content">
      <a class="item" >
        Mi Perfil
      </a>

      <a class="item" >
        Configuración de Tema
      </a>

      <a class="item" >
        Ajustes de Configuracion de Cuenta
      </a>
    </div>
    <div class="ui divider"></div>


    <div class="title item">
      <i class="ion-ios-lightbulb titleIcon icon"></i>

      <i class="dropdown icon"></i> Apps
    </div>
    <div class="content">
      <a class="item" href="inbox.html">
        Inbox
      </a>

      <a class="item" href="chat.html">
        Chat
      </a>

      <a class="item" href="filter.html">
        Filter
      </a>
      <a class="item" href="todo.html">
        Todo
      </a>
    </div>

    <div class="title item">
      <i class="ion-paintbrush titleIcon icon"></i>

      <i class="dropdown icon"></i> Form
    </div>
    <div class="content">
      <a class="item" href="formelements.html">
        Form Element
      </a>
      <a class="item" href="input.html">
        Input
      </a>
      <a class="item" href="formvalidation.html">
        Form Validation
      </a>

      <a class="item" href="editor.html">
        Html Editor
      </a>
    </div>

    <div class="title item">
      <i class="ion-flame titleIcon icon"></i>

      <i class="dropdown icon"></i> Tables
    </div>
    <div class="content">
      <a class="item" href="table.html">
        Static Table
      </a>
      <a class="item" href="datatable.html">
        Datatable
      </a>
      <a class="item" href="editable.html">
        Editable
      </a>
    </div>
    <div class="title item">
      <i class="ion-arrow-graph-up-right titleIcon icon"></i>

      <i class="dropdown icon"></i> Chart
    </div>
    <div class="content">
      <a class="item" href="chart.html">
        Charts 1
      </a>
      <a class="item" href="chart-2.html">
        Charts 2
      </a>

    </div>

  </div>

  <div class="ui dropdown item displaynone scrolling">
    <span>Dashboard</span>
    <i class="ion-speedometer icon"></i>

    <div class="menu">
      <div class="header">
        Dashboard
      </div>
      <div class="ui divider"></div>
      <a class="item" href="index.html">
        Dashboard v1
      </a>
    </div>
  </div>


  <div class="ui dropdown item displaynone scrolling">
    <span>Apps</span>
    <i class="ion-ios-lightbulb icon"></i>
    <div class="menu">
      <div class="header">
        Apps
      </div>
      <div class="ui divider"></div>
      <a class="item" href="inbox.html">
        Inbox
      </a>
      <a class="item" href="filter.html">
        Filter
      </a>
      <a class="item" href="todo.html">
        Todo
      </a>
    </div>
  </div>
  <div class="ui dropdown item displaynone scrolling">
    <span>Layouts</span>
    <i class="ion-ios-world icon"></i>
    <div class="menu">
      <div class="header">
        Layouts
      </div>
      <div class="ui divider"></div>
      <a class="item" href="sidebar.html">
        Sidebar
      </a>
      <a class="item" href="menu.html">
        Nav
      </a>

      <a class="item" href="box.html">
        Box
      </a>
      <a class="item" href="message.html">
        Message
      </a>
      <a class="item" href="price.html">
        Price
      </a>
    </div>
  </div>


  <div class="ui divider"></div>

</div>
<!--sidebar-->
<a class="item hiddenCollapse">
</a>
